In [15]:
import numpy as np 
import matplotlib.pyplot as plt
import pandas as pd
from astropy.io import fits
%matplotlib inline

In [2]:
datafile  = fits.open('Mtdss_v5_10_0.fits')

In [3]:
datafile.info()

Filename: Mtdss_v5_10_0.fits
No.    Name      Ver    Type      Cards   Dimensions   Format
  0  PRIMARY       1 PrimaryHDU       4   ()
  1                1 BinTableHDU     67   11800R x 25C   [K, K, K, K, K, K, K, K, K, J, J, J, J, 16A, D, D, 6A, 21A, I, 3A, B, I, I, 5E, 5E]

In [10]:
sechdr = datafile[1]
sechdr.columns

ColDefs(
    name = 'BOSS_TARGET1'; format = 'K'
    name = 'BOSS_TARGET2'; format = 'K'
    name = 'ANCILLARY_TARGET1'; format = 'K'
    name = 'ANCILLARY_TARGET2'; format = 'K'
    name = 'EBOSS_TARGET0'; format = 'K'
    name = 'EBOSS_TARGET1'; format = 'K'
    name = 'EBOSS_TARGET2'; format = 'K'
    name = 'EBOSS_TARGET_ID'; format = 'K'
    name = 'THING_ID_TARGETING'; format = 'K'
    name = 'PLATE'; format = 'J'
    name = 'TILE'; format = 'J'
    name = 'MJD'; format = 'J'
    name = 'FIBERID'; format = 'J'
    name = 'OBJTYPE'; format = '16A'
    name = 'PLUG_RA'; format = 'D'
    name = 'PLUG_DEC'; format = 'D'
    name = 'CLASS'; format = '6A'
    name = 'SUBCLASS'; format = '21A'
    name = 'RUN'; format = 'I'
    name = 'RERUN'; format = '3A'
    name = 'CAMCOL'; format = 'B'
    name = 'FIELD'; format = 'I'
    name = 'ID'; format = 'I'
    name = 'PSFMAG'; format = '5E'
    name = 'PSFMAGERR'; format = '5E'
)

In [21]:
objtype = sechdr.data['OBJTYPE']
ra      = sechdr.data['PLUG_RA']
dec     = sechdr.data['PLUG_DEC']

plate   = sechdr.data['PLATE'] 
fiber   = sechdr.data['FIBERID']
mjd     = sechdr.data['MJD'] 

querydf = pd.DataFrame()
querydf['plate'] = plate
querydf['mjd']   = mjd
querydf['fiber'] = fiber
querydf['fiber'] = querydf['fiber'].apply('{:0>4}'.format)

In [23]:
querydf.head()

   plate    mjd fiber
0  10000  57346  0014
1  10000  57346  0155
2  10000  57346  0156
3  10000  57346  0161
4  10000  57346  0186

In [24]:
querydf.to_csv('DL_TDSS_M_samplet.txt', sep =' ', index=False)